.profile-class{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


@media screen and (max-width: 768px) {
    .profile-class{
        grid-template-columns:1fr;
        grid-template-areas: 
        "atas"
        "bawah";
    }
}